# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_DONGLE_CENTRAL
    def_bool $(shields_list_contains,corne_dongle_central)

config SHIELD_CORNE_DONGLE_LEFT
    def_bool $(shields_list_contains,corne_dongle_left)

config SHIELD_CORNE_DONGLE_RIGHT
    def_bool $(shields_list_contains,corne_dongle_right)
